.tableFilterCon {
  .btnsCon {
    margin-top: 8px;
    text-align: center;

    .resetBtn {
      color: #4d94fb;
      cursor: pointer;
      margin-left: 24px;
    }

    .okBtn {
      color: #4d94fb;
      cursor: pointer;
    }
  }
}
